{% extends 'first_app/base.html' %}

{% block content %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Education Level</th>
      <th scope="col">Institute</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Primary Education </td>
      <td>Govt. school Nawalshyam</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Secondary education</td>
      <td>Vidyaniketan Dungarpur</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Higher Secondary education</td>
      <td>Maharaval School Dungarpur</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Engineering</td>
      <td>In mechanical Engineering from Engineering College Ajmer</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>M.Tech</td>
      <td>Homi Bhabha National University, Mumbai</td>
    </tr>

  </tbody>
</table>

{% endblock %}
