{% extends 'first_app/base.html' %}

{% block content %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Relationship</th>
      <th scope="col">Name</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Sibiling</td>
      <td>Navdeep Gaur</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Wife</td>
      <td>Sneha Gaur</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Son</td>
      <td>Dhyey Gaur</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Father</td>
      <td>Ishwar lal Gaur</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Mother</td>
      <td>Rekha Gaur</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Sister in law</td>
      <td>Yashasvee Joshi</td>
    </tr>
  </tbody>
</table>

{% endblock %}
